@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header{
    padding-top: 5vh;
    font-size: 70px;
    display: flex;
    white-space: pre;
    position: relative;
    justify-content: center;
    align-items: center;
}

.headerEnd{
    color: white;
}

.backgroundCalm{
	background: linear-gradient(-45deg, #ee7752, #fad8d6, #dfdeff, #d9c1f1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.backgroundChaos{
	background: linear-gradient(-45deg, #36189f, #c05d86, #d16330, #f123a3);
	background-size: 400% 400%;
	animation: gradient 10s infinite reverse;
	height: 100vh;
}

.buttonLink:link {
    text-decoration: none;
    background-color: #333;
}


.musicButton {
    position: absolute;
    right: 10px;
    top: .75vh;
    background-color: #333;
    border-radius: 25px;
    height: 3.5vh;
    width: 50px;
}

.musicButton:hover{
    background-color: rgb(75, 75, 75);
}


.buttonBox{
    position: absolute;
    top: 70vh;
    right: 15%;
    border: 2px solid #333;
    width: 30vw;
    height: 5vh;
    border-radius: 25px;
}

.buttonText{
    position: absolute;
    font-size: 2.5vmin;
    left: 10px;
    bottom: 1.5vh;
}

.buttonBox2{
    position: absolute;
    top: 76vh;
    right: 15%;
    border: 2px solid #333;
    width: 30vw;
    height: 5vh;
    border-radius: 25px;
}

.buttonBox3{
    position: absolute;
    top: 82vh;
    right: 15%;
    border: 2px solid #333;
    width: 30vw;
    height: 5vh;
    border-radius: 25px;
}

.slider{
    height: 300;
}

.songs{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.song{
    display: inline-block;
    text-align: center;
}

.title{
    margin-left: 10%;
}

.elementBox{
    position: absolute;
    top: 70vh;
    left: 15%;
    border: 2px solid #333;
    width: 30vw;
    height: 17vh;
    border-radius: 25px;
}

.playButton{
    position: absolute;
    left:13vw;
    top: 25%;
    bottom: 25%;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 7vh;

    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 4vh 0 4vh 5vw;
}
.playButton:hover {
    border-color: transparent transparent transparent #aaa;
}

.overlay {
    z-index: 9;
    position: absolute;
    top: 70vh;
    left: 15%;
    background-color: #333;
    width: 30vw;
    height: 16.75vh;
    border-radius: 25px;
    border: 2px solid #333;
}

.footer{
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#bars {
    left: 1px;
    height: 16.75vh;
    width: 10vw;
}

.bar {
    background: #333;
    bottom: 1px;
    height: 40px;
    position: absolute;
    width: .8vw;      
    animation: sound 0ms -800ms linear infinite alternate;
}

.bar2 {
    background: #333;
    bottom: 1px;
    height: 40px;
    position: absolute;
    width: .8vw;      
    animation: sound 0ms -800ms linear infinite alternate;
 }

@keyframes sound {
    0% {
       opacity: .5;
        height: 1vh; 
    }
    100% {
        opacity: 1;       
        height: 16vh;
    }
}

.bar:nth-child(1)  { left: 1vw; animation-duration: 3291ms; }
.bar:nth-child(2)  { left: 2vw; animation-duration: 2584ms; }
.bar:nth-child(3)  { left: 3vw; animation-duration: 2407ms; }
.bar:nth-child(4)  { left: 4vw; animation-duration: 2287ms; }
.bar:nth-child(5)  { left: 5vw; animation-duration: 2001ms; }
.bar:nth-child(6)  { left: 6vw; animation-duration: 1427ms; }
.bar:nth-child(7)  { left: 7vw; animation-duration: 3441ms; }
.bar:nth-child(8)  { left: 8vw; animation-duration: 2419ms; }
.bar:nth-child(9)  { left: 9vw; animation-duration: 1487ms; }
.bar:nth-child(10) { left: 10vw; animation-duration: 3411ms; }
.bar:nth-child(11)  { left: 11vw; animation-duration: 1429ms; }
.bar:nth-child(12)  { left: 12vw; animation-duration: 2687ms; }
.bar:nth-child(13)  { left: 13vw; animation-duration: 1925ms; }
.bar:nth-child(14)  { left: 14vw; animation-duration: 3563ms; }
.bar:nth-child(15)  { left: 15vw; animation-duration: 1629ms; }
.bar:nth-child(16)  { left: 16vw; animation-duration: 3248ms; }
.bar:nth-child(17)  { left: 17vw; animation-duration: 1039ms; }
.bar:nth-child(18)  { left: 18vw; animation-duration: 2163ms; }
.bar:nth-child(19)  { left: 19vw; animation-duration: 2771ms; }
.bar:nth-child(20){ left: 20vw; animation-duration: 3780ms; }
.bar:nth-child(21)  { left: 21vw; animation-duration: 2629ms; }
.bar:nth-child(22)  { left: 22vw; animation-duration: 1248ms; }
.bar:nth-child(23)  { left: 23vw; animation-duration: 2039ms; }
.bar:nth-child(24)  { left: 24vw; animation-duration: 2763ms; }
.bar:nth-child(25)  { left: 25vw; animation-duration: 1771ms; }
.bar:nth-child(26)  { left: 26vw; animation-duration: 3029ms; }
.bar:nth-child(27)  { left: 27vw; animation-duration: 2248ms; }
.bar:nth-child(28)  { left: 28vw; animation-duration: 1539ms; }


.bar2:nth-child(1)  { left: 1vw; animation-duration: 321ms; }
.bar2:nth-child(2)  { left: 2vw; animation-duration: 254ms; }
.bar2:nth-child(3)  { left: 3vw; animation-duration: 247ms; }
.bar2:nth-child(4)  { left: 4vw; animation-duration: 227ms; }
.bar2:nth-child(5)  { left: 5vw; animation-duration: 201ms; }
.bar2:nth-child(6)  { left: 6vw; animation-duration: 147ms; }
.bar2:nth-child(7)  { left: 7vw; animation-duration: 341ms; }
.bar2:nth-child(8)  { left: 8vw; animation-duration: 249ms; }
.bar2:nth-child(9)  { left: 9vw; animation-duration: 147ms; }
.bar2:nth-child(10) { left: 10vw; animation-duration: 311ms; }
.bar2:nth-child(11)  { left: 11vw; animation-duration: 429ms; }
.bar2:nth-child(12)  { left: 12vw; animation-duration: 687ms; }
.bar2:nth-child(13)  { left: 13vw; animation-duration: 925ms; }
.bar2:nth-child(14)  { left: 14vw; animation-duration: 563ms; }
.bar2:nth-child(15)  { left: 15vw; animation-duration: 629ms; }
.bar2:nth-child(16)  { left: 16vw; animation-duration: 248ms; }
.bar2:nth-child(17)  { left: 17vw; animation-duration: 299ms; }
.bar2:nth-child(18)  { left: 18vw; animation-duration: 163ms; }
.bar2:nth-child(19)  { left: 19vw; animation-duration: 771ms; }
.bar2:nth-child(20){ left: 20vw; animation-duration: 370ms; }
.bar2:nth-child(21)  { left: 21vw; animation-duration: 629ms; }
.bar2:nth-child(22)  { left: 22vw; animation-duration: 248ms; }
.bar2:nth-child(23)  { left: 23vw; animation-duration: 439ms; }
.bar2:nth-child(24)  { left: 24vw; animation-duration: 163ms; }
.bar2:nth-child(25)  { left: 25vw; animation-duration: 771ms; }
.bar2:nth-child(26)  { left: 26vw; animation-duration: 629ms; }
.bar2:nth-child(27)  { left: 27vw; animation-duration: 248ms; }
.bar2:nth-child(28)  { left: 28vw; animation-duration: 139ms; }
